<%= form_for(@categories) do |f| %>
 
  <div class="field">
    <%= f.label :catName %><br />
    <%= f.text_field :catName %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
